<section class="contact profile__contact">
    <div class="heading contact__heading">
        <div class="icon heading__icon rounded-circle d-inline-block text-center">
            <div class="icon__inner rounded-circle"><i class="icon__inner_contact fa fa-phone _text-white"></i></div>
        </div>
        <h2 class="heading__text heading__text_contact">CONTACT</h2>
    </div>
    <div class="contact__row">
        <div class="row">
            <div class="col-4">
                <h5>ADDRESS</h5>
            </div>
            <div class="col-8">
                <address>Main Street, City.</address>
            </div>
        </div>
    </div>
    <div class="contact__row">
        <div class="row">
            <div class="col">
                <h5>E-MAIL</h5>
            </div>
            <div class="col">
                <address>contact@domain.com</address>
            </div>
        </div>
    </div>
    <div class="contact__row">
        <div class="row">
            <div class="col">
                <h5>PHONE</h5>
            </div>
            <div class="col">
                <address>555-555-555</address>
            </div>
        </div>
    </div>
    <div class="contact__row">
        <div class="row">
            <div class="col">
                <h5>WEBSITE</h5>
            </div>
            <div class="col">
                <address>www.yourweb.com</address>
            </div>
        </div>
    </div>
</section>