<section class="contact column_left__contact">
    <div class="heading contact__heading _line _text-blue">
        <div class="icon heading__icon rounded-circle d-inline-block text-center">
            <div class="icon__circle rounded-circle"><i class="fa fa-phone _text-white"></i></div>
        </div>
        <h2 class="heading__text">CONTACT</h2>
    </div>
    <div class="contact__row">
        <div class="row">
            <div class="col-3">
                <h5 class="_text-blue">ADDRESS</h5>
            </div>
            <div class="col-9">
                <address class="contact__text">Main Street, City.</address>
            </div>
        </div>
    </div>
    <div class="contact__row">
        <div class="row">
            <div class="col-3">
                <h5 class="_text-blue">E-MAIL</h5>
            </div>
            <div class="col-9">
                <address class="contact__text">contact@domain.com</address>
            </div>
        </div>
    </div>
    <div class="contact__row">
        <div class="row">
            <div class="col-3">
                <h5 class="_text-blue">PHONE</h5>
            </div>
            <div class="col-9">
                <address class="contact__text">555-555-555</address>
            </div>
        </div>
    </div>
    <div class="contact__row">
        <div class="row">
            <div class="col-3">
                <h5 class="_text-blue">WEBSITE</h5>
            </div>
            <div class="col-9">
                <address class="contact__text">www.yourweb.com</address>
            </div>
        </div>
    </div>
</section>