<section class="contact">
    <h2 class="_line">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x _text-white"></i>
        </span>CONTACT
    </h2>
    <div class="row">
        <div class="col-auto">
            <h5>ADDRESS</h5>
        </div>
        <div class="col-auto">
            <address>Main Street, City.</address>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h5>E-MAIL</h5>
        </div>
        <div class="col-auto">
            <address>contact@domain.com</address>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h5>PHONE</h5>
        </div>
        <div class="col-auto">
            <address>555-555-555</address>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <h5>WEBSITE</h5>
        </div>
        <div class="col-auto">
            <address>www.yourweb.com</address>
        </div>
    </div>
</section>