<section class="education column__education">
    <div class="heading education__heading">
        <div class="icon heading__icon rounded-circle d-inline-block text-center">
            <div class="icon__circle rounded-circle"><i class="fa fa-star _text-white"></i></div>
        </div>
        <h2 class="heading__text heading__text_education">EDUCATION</h2>
    </div>
    <div class="list-item education_list-item media">
        <i class="fa fa-circle"></i>

        <div class="media-body flex-wrap">
            <span class="list-item__heading list-item__heading_first _text-blue"><b>MASTER DEGREE</b></span>
            <span class="list-item__heading">// Feb 2011 - Jun 2014</span>

            <div class="list-item__heading list-item__heading_third">UNIVERSITY NAME</div>
            <p class="list-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum,
                deleniti doloremque dolores ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae
                voluptas. Assumenda autem culpa cumque.</p>
        </div>
    </div>
    <div class="list-item education_list-item media">
        <i class="fa fa-circle"></i>

        <div class="media-body flex-wrap">
            <span class="list-item__heading list-item__heading_first _text-blue"><b>MASTER DEGREE</b></span>
            <span class="list-item__heading">// Feb 2011 - Jun 2014</span>

            <div class="list-item__heading list-item__heading_third">UNIVERSITY NAME</div>
            <p class="list-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum,
                deleniti doloremque dolores ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae
                voluptas. Assumenda autem culpa cumque.</p>
        </div>
    </div>
    <ul class="list-unstyled ul education__ul">
        <li class="li ul__li">
            <div class="li__marker _text-blue"></div>
            <div class="news li__news">


            </div>
        </li>
        <li class="education__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h4>MASTER DEGREE</h4>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">UNIVERSITY NAME</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
        <li class="education__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h4>MASTER DEGREE</h4>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">UNIVERSITY NAME</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
        <li class="education__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h4>MASTER DEGREE</h4>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">UNIVERSITY NAME</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
    </ul>
</section>