<section class="education">
    <div class="heading">
        <div class="icon heading__icon rounded-circle d-inline-block text-center">
            <div class="icon__inner rounded-circle"><i class="fa fa-star _text-white"></i></div>
        </div>
        <h2 class="heading__text">EDUCATION</h2>
    </div>
    <ul class="list-unstyled">
        <li class="education__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h3>MASTER DEGREE</h3>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">UNIVERSITY NAME</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
        <li class="education__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h3>MASTER DEGREE</h3>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">UNIVERSITY NAME</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
        <li class="education__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h3>MASTER DEGREE</h3>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">UNIVERSITY NAME</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
        <li class="education__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h3>MASTER DEGREE</h3>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">UNIVERSITY NAME</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
    </ul>
</section>