<section class="experience">
    <h2 class="_line">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x _text-white"></i>
        </span>EXPERIENCE
    </h2>
<ul class="list-unstyled">
        <li class="experience__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h3>COMPANY NAME</h3>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">YOUR JOB HERE</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
        <li class="experience__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h3>COMPANY NAME</h3>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">YOUR JOB HERE</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
        <li class="experience__list-item_marker">
            <div class="row">
                <div class="col-auto">
                    <h3>COMPANY NAME</h3>
                </div>
                <div class="col">
                    <span class="h3-like">// Feb 2011 - Jun 2014</span>
                </div>
            </div>
            <span class="h3-like">YOUR JOB HERE</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cum, deleniti doloremque dolores
                ducimus fuga ipsum, iure natus nihil officia qui, sed tempore velit vitae voluptas. Assumenda autem
                culpa cumque dignissimos error et id illum ipsam minus nemo non numquam optio placeat.</p>
        </li>
    </ul>
</section>