<section class="photo column__item d-flex justify-content-center">
    <figure class="figure photo__figure">
        <a href="img/avatar/large.jpg" class="modal-link figure__modal d-block"
                         data-lightbox="avatar"
                         data-alt="girl">
            <img class="modal-link__img img-thumbnail rounded-circle" src="img/avatar/small.JPG" alt="girl"/>
        </a>
        <figcaption class="caption figure__caption text-center">
            <h2 class="caption__name">NAME HERE</h2>

            <h1 class="caption__surname">SURNAME</h1>
            <span class="caption__occupation">GRAPHIC DESIGNER</span>
        </figcaption>
    </figure>
</section>