<section class="photo cv__item d-flex justify-content-center">
    <figure class="figure photo__figure">
        <div class=""><a href="img/avatar/large.jpg" class=""
                         data-lightbox="avatar"
                         data-alt="girl">
            <img class="modal__img img-thumbnail rounded-circle" src="img/avatar/small.JPG" alt="girl"/>
        </a></div>
        <figcaption class="caption figure-caption text-center">
            <span class="caption__name h2">NAME HERE</span>

            <h1 class="caption__surname h1">SURNAME</h1>
            <span>GRAPHIC DESIGNER</span>
        </figcaption>
    </figure>
</section>