<section class="profile">
    <h2 class="_line _text-blue">
        <span class="fa-stack profile__icon">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x _text-white"></i>
        </span>PROFILE
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis deserunt doloremque enim expedita
        facere fugiat hic, illum impedit maiores nesciunt pariatur perspiciatis, praesentium quae repellat sint velit,
        voluptates? Amet distinctio dolor esse, molestiae obcaecati odio quae. Aliquid corporis dolore eius ex
        exercitationem iure, labore minus mollitia nam quaerat sunt veniam voluptas voluptatum. A ab asperiores
        blanditiis dignissimos doloremque eaque eligendi excepturi illo impedit ipsam ipsum molestiae, necessitatibus
        neque nihil odio <strong>perspiciatis ratione recusandae sed sequi tempore ut, veritatis, voluptatem! A
            abadipisci
            assumenda consequatur consequuntur cum cumque deserunt, dolorum eius facere harum iusto laborum maxime
            molestias
            numquam obcaecati officiis pariatur, quae quam quia quos recusandae saepe similique sint sit suscipit
            voluptatem
            voluptates!</strong></p>
</section>