<section class="profile column__item">
    <div class="heading profile__heading">
        <div class="icon heading__icon rounded-circle d-inline-block text-center">
            <div class="icon__inner rounded-circle"><i class="icon__inner_profile fa fa-user _text-white"></i></div>
        </div>
        <h2 class="heading__text">PROFILE</h2>
    </div>
    <p class="profile__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis deserunt
        doloremque enim expedita
        facere fugiat hic, illum impedit maiores nesciunt pariatur perspiciatis, praesentium quae repellat sint velit,
        asperiores dolorum eius blanditiis dignissimos doloremque eaque eligendi excepturi illo dolorum eius blanditiis impedit ipsam ipsum
        neque nihil odio perspiciatis ratione <strong>recusandae sed sequi tempore ut, veritatis, voluptatem! A
            abadipisci assumenda consequatur consequuntur cum cumque deserunt, dolorum eius facere harum iusto
            laborum maxime molestias numquam obcaecati officiis pariatur, quae quam quia quos doloremque eaque maxime molestias numquam obcaecati officiis pariatur
            .</strong>
    </p>
</section>