<section class="software">
    <div class="heading software__heading _line _text-blue">
        <div class="icon heading__icon rounded-circle d-inline-block text-center">
            <div class="icon__circle rounded-circle"><i class="fa fa-laptop _text-white"></i></div>
        </div>
        <h2 class="heading__text heading__text_software">SOFTWARE</h2>
    </div>
    <div class="row">
        <div class="col pr-0">
            <div class="software__skill-block software__skill-block_left">
                <h3 class="skill-block__heading">PHOTOSHOP</h3>

                <div class="progress skill-block__progress">
                    <div class="progress-bar skill-block__progress-bar skill-block__progress-bar_photoshop" role="progressbar"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
            <div class="software__skill-block software__skill-block_left software__skill-block_mb">
                <h3 class="skill-block__heading">ILLUSTRATOR</h3>

                <div class="progress skill-block__progress">
                    <div class="progress-bar skill-block__progress-bar skill-block__progress-bar_illustrator"
                         role="progressbar"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
            <div class="software__skill-block software__skill-block_left">
                <h3 class="skill-block__heading skill-block__heading_mb">INDESIGN</h3>

                <div class="progress skill-block__progress">
                    <div class="progress-bar skill-block__progress-bar skill-block__progress-bar_indesign"
                         role="progressbar"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="col px-0">
            <div class="software__skill-block software__skill-block_right">
                <h3 class="skill-block__heading">DREAMWEAVER</h3>

                <div class="progress skill-block__progress">
                    <div class="progress-bar skill-block__progress-bar skill-block__progress-bar_dreamweaver"
                         role="progressbar"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
            <div class="software__skill-block software__skill-block_right software__skill-block_mb">
                <h3 class="skill-block__heading">AFTER EFFECTS</h3>

                <div class="progress skill-block__progress">
                    <div class="progress-bar skill-block__progress-bar skill-block__progress-bar_after-effects"
                         role="progressbar"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
            <div class="software__skill-block software__skill-block_right">
                <h3 class="skill-block__heading skill-block__heading_mb">HTML&CSS3</h3>

                <div class="progress skill-block__progress">
                    <div class="progress-bar skill-block__progress-bar skill-block__progress-bar_html-css"
                         role="progressbar"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</section>