$font-stack:'Myriad Pro', 'PT Sans', sans-serif;
$text-first:#000;
$text-second:#3d6cb0;
$icon-color:#fff;


$screen-sm-min: 768px; //планшети, 768px и шире
$screen-md-min: 992px; //настольные мониторы, 992px и шире
$screen-lg-min: 1200px; //большие настольные мониторы, 1200px и шире


