._line{
  /* чтобы линии не выходили за ширину блока заголовка */
  overflow:hidden;
}
._line:after{
  content:'';
  display:inline-block;
  box-sizing:border-box;/* не позволяем ширине превысить 100% (будет добавлен бордюр) */
  width:100%;
  height:5px;
  background:$bg-blue;
  margin-right:-100%;
  vertical-align:middle;
}


/* Атомарные стили */

._bg-blue{
  background-color:$bg-blue;
}
._bg-gray{
  background-color:$bg-gray;
}
._circle{
  height:17px;
  width:17px;
}
._text-white{
  color:$bg-white;
}
._text-blue{
  color:$text-second;
}

._translateY-2{
  transform:translateY(2px);
}
