.cv{
  padding:75px 60px;
  @media (min-width:$screen-lg) {
    padding:120px;
  }
  &__column:first-child{
    padding-right:15px;
  }
}
.column {
  &__item {
    margin-bottom:60px;
  }
}
.photo{
  &__figure{
    margin:0 60px 0 75px;
  }
}

.figure{
  &__modal{
    padding:12px 20px;
  }
}
.modal-link{
  &__img{
    border:1px solid $bg-blue;
    padding:13px;
    overflow:hidden;
  }
}
.caption{
  color:$text-first;
  &__name{
    font-size:3rem;
  }
  &__surname{
    font-size:3.5rem;
  }
}





